
.menu_left {
	width: 180px;
	text-align: left;
	background-color:#FCE7B9;
}

.menu_left h1 {
	text-align: center;
}

.menu_left ul {
	list-style: none;
	margin: 0;
	padding: 0 0 15px 15px;
}

.menu_left a {
	color: #b99b5f;
	font-family: 'CarterOneRegular';
	font-size: 14px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #efd9c4;	
}

.menu_left a:hover{
color: #2e5306;
}

