/* Website template by freewebsitetemplates.com */

a {
	color: #816221;
	font-family: 'CarterOneRegular';
	font-size: 14px;
	text-decoration: underline;
	text-shadow: 1px 1px 0 #efd9c4;	
}

a:hover{
	color: #2e5306;
}


body {
	background: url(../images/bg-body.gif) repeat center;
	color: #80662b;
	font-family: 'AndikaRegular';
	font-size: 14px;
	margin: 0;
	min-width: 950px;
	padding: 0;
}

a {
	outline: none;
}

img {
	border: 0;
}

p a {
	color: #80662B;
	font-style: italic;
}


h3 {
	font-family: 'CarterOneRegular';
	font-size: 12px;
	margin: 0;
	padding: 10px 0;
}


input.inputlogin {
	background: url(../images/sprites-inputs.gif) no-repeat 0 -82px;
	border: 0;
	color: #FFFEFF;
	height: 25px;	
	width: 250px;
  font-family: Arial;
  font-size: 12px;
	padding: 0 5px;			
}

input.loginbuttom {
	border: 0;
	height: 36px;
  margin-left: 60px;
	margin-top: 15px;
  width: 96px;	
}


#header {
	background: url(../images/bg-header.gif) repeat-x top center;
	height: 106px;
	overflow: hidden;
	width: 100%;
}

#header div {
	margin: 0 auto;
	overflow: hidden;
	width: 950px;
}

#header div div#logo {
	float: left;
	width: auto;
	margin:0 25px 0 0;
}

#header div div#title {
	float: left;
	width: 400px;
	margin:0 55px 0 0;
	font-family: 'CarterOneRegular';
	font-size: 45px;
	text-align: center;
	text-shadow: 3px 3px 0 #efd9c4;
	padding-top: 14px;
}

#header div div#navigation {
	background: url(../images/bg-navigation-right-curve.gif) no-repeat right top;	
	font-family: 'CarterOneRegular';
	float: right;
	height: auto;
	line-height: 50px;
	margin-top: 27px;
	text-transform: lowercase;
	width: 379px;
}

#header div div#navigation div {
	background: url(../images/bg-navigation-left-curve.gif) no-repeat left top;
	padding-left: 4px;
	height: 63px;
	width: auto;
}

#header div div#navigation div ul {
	background: url(../images/bg-navigation.gif) repeat-x;
	clear: both;
	float: right;
	height: 63px;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 300px;
	margin-right: 10px;
}

#header div div#navigation div ul li:first-child {
	background: none;
}

#header div div#navigation div ul li {
	background: url(../images/separator-navigation.gif) no-repeat center left;
	float: left;
	padding: 0 30px;
}

#header div div#navigation div ul li a {
	color: #b99b5f;
	text-decoration: none;
	text-shadow: 1px 1px 0 #efd9c4;
}

#header div div#navigation div ul li.current a, 
#header div div#navigation div ul li a:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

#content {
	background: url(../images/bg-headliner.gif) repeat top center;
	height: auto;
	width: 100%;
}

#content div#body {
	margin: 0 auto;
	padding: 0 0 40px;
	width: 950px;
}


#content div#body div.welcome{
	float: right;
}



#content div#body div.welcome a{
	color: #816221;
}

#content div#body p {
	line-height: 21px;
    margin: 0;
    padding-bottom: 25px;
	text-align: left;
    text-shadow: 1px 1px 0 #F4DCB6;
}

#content div#body b {
	color: #816221;
	text-shadow: 1px 1px 0 #F4DCB6;
}


#content div#body h1 {
	font-family: 'CarterOneRegular';
	font-size: 18px;
	margin: 0;
	padding: 10px 0;
}

#content div#body h1 a {
	color: #73541b;
	display: block;
	text-decoration: none;
	text-shadow: 1px 1px 0 #c8b57d;
	font-size: 18px;
}

#content div#body h1 a:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

#content div#body p {
	padding-bottom: 0;
	margin: 0;
	text-align: justify;
}


#content div#body h2 {
	color: #73541B;
	font-family: 'CarterOneRegular';
	font-size: 25px;
	margin: 0;
	padding: 25px 0 10px;
	text-shadow: 1px 1px 0 #C8B57D
}

#content div#body h3 {
	color: #73541B;
	font-family: 'CarterOneRegular';
	font-size: 23px;
	margin: 0;
	padding: 25px 0 10px;
	text-shadow: 1px 1px 0 #C8B57D
}


#content div#body div#login{
	margin-left: 300px;
	padding-top: 40px;
	width: 300px;
}

#content div#body div#login a{
	text-decoration: none;
	color: #73541B;
}

#content div#body div#login a:hover{
	text-decoration:underline;
	color: #73541B;
}



#footer {
	background: url(../images/bg-footer.gif) repeat-x left top;
	height: 100px;
	width: 100%;
}

#footer div {
	color: #dadada;
	float: none;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	width: 950px;
}

#footer div div {
	float: left;
	height: auto;
	margin-left: 50px;
  width: 320px;
}

#footer div div.last {
	width: 150px;	
}


#footer div div p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	text-align: left;
}

#footer div div h3 {
	color: #fcfcfc;
	font-family: 'CarterOneRegular';
	font-size: 20px;
	height: 30px;
	margin-bottom: 10px;
}


#footer div div div {
	height: auto;
	margin-left: 0;
  margin-top: 10px;
}

#footer div div div p {
	font-size: 14px;
	line-height: 25px;
	margin: 0;
}

#footer div div div p span {
	color: #383435;
	display: inline;
	font-style: italic;
}

#footer div div div a {
	color: #383435;
	display: inline;
	font-style: italic;
}

@font-face {
    font-family: 'AndikaRegular';
    src: url('../fonts/andika-r-webfont.eot');
    src: url('../fonts/andika-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andika-r-webfont.woff') format('woff'),
         url('../fonts/andika-r-webfont.ttf') format('truetype'),
         url('../fonts/andika-r-webfont.svg#AndikaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CarterOneRegular';
    src: url('../fonts/carterone-webfont.eot');
    src: url('../fonts/carterone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carterone-webfont.woff') format('woff'),
         url('../fonts/carterone-webfont.ttf') format('truetype'),
         url('../fonts/carterone-webfont.svg#CarterOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}